<h1 class="page_title"><%= title_case @name %></h1>
<div class="row">
    <%= for product <- @products do %>
        <div class="col-md-4">
            <%= render MangoWeb.ProductView, "product_card.html", conn: @conn, product: product %>
        </div>
    <% end %>
</div>