<h1> Register account </h1>

<%= form_for @changeset, registration_path(@conn, :create), [as: :registration, id: "registration-form"], fn f -> %>
    <%= if @changeset.action do %>
        <div id="form-error" class="alert alert_danger" >
            <p> Oops, something went wrong! Please check the error messages.</p>
        </div>
    <% end %>
    <div class="form-group">
        <%= label f, :name, class: "control-label" %>
        <%= text_input f, :name, class: "form-control"%>
        <%= error_tag f, :name%>
    </div>


     <div class="form-group">
             <%= label f, :email, class: "control-label" %>
             <%= text_input f, :email, class: "form-control"%>
             <%= error_tag f, :email%>
         </div>

    <div class="form-group">
            <%= label f, :phone, class: "control-label" %>
            <%= text_input f, :phone, class: "form-control"%>
            <%= error_tag f, :phone%>
        </div>

     <div class="form-group">
             <%= label f, :phone, class: "control-label" %>
             <%= select f, :residence_area, @residence_areas,
                prompt: "Choose your residence area", class: "form-control" %>
             <%= error_tag f, :phone%>
         </div>

     <div class="form-group">
             <%= label f, :password, class: "control-label" %>
             <%= text_input f, :password, class: "form-control"%>
             <%= error_tag f, :password%>
         </div>

    <%= submit "Register", class: "btn btn-primary" %>

 <% end %>