<h1 class="page_title">Seasonal products</h1>
<div class="row">
  <%= for product <- @seasonal_products do %>
    <div class="col-md-4" >
        <%= render MangoWeb.ProductView, "product_card.html", conn: @conn, product: product%>
    </div>
    <% end %>
</div>